1. Write a Python program to create and display a one-dimensional array-like object
containing an array of data using Pandas module.

In [4]:
import pandas as pd
def create_and_display():
    var=pd.Series(["app","bat","cat"])
    return var
create_and_display()

0    app
1    bat
2    cat
dtype: object

2. Write a Python program to convert a Panda module Series to Python list and it's type.

In [9]:
import pandas as pd
def series_to_lsit():
    arr=pd.Series([2,3,5,2])
    arr=arr.tolist()
    return arr
series_to_lsit()

[2, 3, 5, 2]

3. Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [17]:
import pandas as pd
def math_operations():
    s1=pd.Series([2, 4, 6, 8, 10])
    s2=pd.Series([1, 3, 5, 7, 9])
    add=s1+s2
    sub=s1-s2
    multi=s1*s2
    div=s1/s2
    return add,sub,multi,div
math_operations()

(0     3
 1     7
 2    11
 3    15
 4    19
 dtype: int64,
 0    1
 1    1
 2    1
 3    1
 4    1
 dtype: int64,
 0     2
 1    12
 2    30
 3    56
 4    90
 dtype: int64,
 0    2.000000
 1    1.333333
 2    1.200000
 3    1.142857
 4    1.111111
 dtype: float64)

4. Write a Python program to get the powers of an array values element-wise.
Note: First array elements raised to powers from second array
Expected Output:
Original array
[0 1 2 3 4 5 6]
First array elements raised to powers from second array, element-wise:
[ 0 1 8 27 64 125 216]

In [21]:
import pandas as pd
def rasied_to_powers():
    s=pd.Series([0,1,2,3,4,5,6])
    s=s**3
    return s
rasied_to_powers()

0      0
1      1
2      8
3     27
4     64
5    125
6    216
dtype: int64

5. Write a Python program to create and display a DataFrame from a specified dictionary
data which has the index labels.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael',
'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import pandas as pd
import numpy as np
def sample_dataframe():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael','Matthew', 'Laura', 'Kevin', 'Jonas'],
                 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    exam_data=pd.DataFrame(exam_data, index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
    exam_data.index.name="Ids"
    return exam_data
sample_dataframe()

          name  score  attempts qualify
Ids
a    Anastasia   12.5         1     yes
b         Dima    9.0         3      no
c    Katherine   16.5         2     yes
d        James    NaN         3      no
e        Emily    9.0         2      no
f      Michael   20.0         3     yes
g      Matthew   14.5         1     yes
h        Laura    NaN         1      no
i        Kevin    8.0         2      no
j        Jonas   19.0         1     yes

6. Write a Python program to display a summary of the basic information about a
specified Data Frame and its data.
Sample Python dictionary data and list labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [ ]:
import pandas as pd
def sample_data_display():
    exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew','Laura', 'Kevin', 'Jonas'],
                 'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
                 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
    labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
    exam_data=pd.DataFrame(exam_data,index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
    return exam_data
sample_data_display()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes